{% extends 'base.html' %}

{% block body %}
<section class="hero is-fullheight has-background-black">
  <div class="hero-body">
    <div class="container" style="max-width: 420px;">
      <div class="box">
        <h1 class="title has-text-centered">{{ site_title }}</h1>
        {% if error %}
        <div class="notification is-danger">{{ error }}</div>
        {% endif %}
        <form method="post" action="{{ url_for('site_auth.login') }}">
          <input type="hidden" name="next" value="{{ next_url }}" />
          <div class="field">
            <label class="label" for="login">Login</label>
            <div class="control">
              <input id="login" name="login" class="input" autocomplete="username" autofocus />
            </div>
          </div>
          <div class="field">
            <label class="label" for="password">Password</label>
            <div class="control">
              <input id="password" name="password" type="password" class="input" autocomplete="current-password" />
            </div>
          </div>
          <div class="field mt-5">
            <button class="button is-primary is-fullwidth" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
